header {
    nav {
        background-color: lightblue;
        padding: 1em;
        text-align: center;
    }
    li {
        display: inline-block;
        margin-right: 20px;
        height: 100%;
    }
    a {
        text-decoration: none;
        padding: 0.8em;
        background-color: greenyellow;
        color: rgb(0, 0, 0);
        border-radius: 12px;
    }
}

a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 430px) {
    header {
        li {
            margin-right: 10px;
        }
        a {
            padding: 0.5em;
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        li {
            margin-right: 5px;
        }
        a {
            padding: 0.4em;
            font-size: 0.9em;
        }
    }
}