<article>
    <h2>Webbplatsens innehåll och sidor</h2>
    <p>Webbplatsen har sidorna: <a href="/home">Hem</a>, <a href="/converter">Konvertera</a> och <a href="/about">Om</a>.</p>
    <br>
    <p><span>Hem</span> är startsidan där det finns en bild och en textrad om att webbplatsen är skapad genom verktyget Angular.</p>
    <p><span>Konvertera</span> är sidan där du som användare kan konvertera mellan olika enheter och mått samt temperaturer.</p>
    <p><span>Om</span> är sidan där uppgiften beskrivs och hur den skapats.</p>
</article>